<!-- <h2>Login</h2>
<form (ngSubmit)="onLogin()">
  <label for="username">Username</label>
  <input id="username" [(ngModel)]="username" name="username" type="text" required>
  
  <label for="password">Password</label>
  <input id="password" [(ngModel)]="password" name="password" type="password" required>
  
  <button type="submit">Login</button>
</form> -->



<form [formGroup]="loginForm">
   
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="username">Username Name</label>
  <input type="text" class="form-control"  [ngClass]="{'is-valid': loginForm.get('username')?.valid, 'is-invalid': loginForm.get('username')?.invalid && loginForm.get('username')?.touched}" formControlName="username"><span *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">

      <span  *ngIf="loginForm.get('username')?.hasError('required')" class="invalid-feedback" >
        Account is required</span>
      <span *ngIf="loginForm.get('username')?.hasError('minlength')" class="invalid-feedback">Atleast 3 characters</span>

  </span>
</div>


<div class="col-md-4 mb-3">
<label for="Password">Password</label>

      <input type="password" class="form-control" [ngClass]="{'is-valid': loginForm.get('password')?.valid, 'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched}" formControlName="password">

  <span *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">

      <span *ngIf="loginForm.get('password')?.getError('required')" class="invalid-feedback" >Enter password</span>
      <span *ngIf="loginForm.get('password')?.getError('minlength')" class="invalid-feedback">Minimum 8 character Needed</span>
     
      
     
  </span>
 
</div>
</div>
  <button type="submit"[disabled]="loginForm.invalid" (click)="onLogin()"class="btn btn-success">Login</button>
 
</form>

<div class="container signin">
  <!-- <p>Dont have an account? <button type="button" class="btn btn-outline-primary" (click)="registerPage()">Register</button>.</p> -->
</div>



