<div class="title"><button (click)="addNewEmployee()" class="btn btn-info">New</button></div>
<div class="title"><button (click)="logout()" class="btn btn-danger">logout</button></div>

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Department</th>
        <th scope="col">Age</th>
        <th scope="col">Pale</th>
        <th scope="col">Status</th>
        <th colspan=4 scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeList; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{employee.name}}</td>
        <td>{{employee.department}}</td>
        <td>{{employee.age}}</td>
        <td>{{employee.place}}</td>
        <td>{{employee.active}}</td>
        <td><button (click)="assignReviewers(employee.username)" class="btn btn-primary">Assign feedback</button></td>

        <td><button  class="btn btn-primary">view feedback</button></td>

        <td><button (click)="editEmployee(employee)" class="btn btn-primary">Edit</button></td>
        <td><button (click)="deleteEmployee(employee.username)" class="btn btn-danger">Delete</button></td>

      </tr>
     
    </tbody>
  </table>

